[Desktop Entry]
Type=Application
Name=GhostFile
Comment=Ephemeral File Upload Server
Exec=ghostfile
Icon=ghostfile
Terminal=true
Categories=Utility;Network;
