[Desktop Entry]
Version=1.0
Type=Application
Name=GhostFile
Comment=Ephemeral File Upload Server
Exec=/usr/local/bin/ghostfile
Icon=ghostfile #must copy an icon to the correct path, see below
Terminal=false
Categories=Utility;Network;Application;
